# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Env files
backend/.env
frontend/.env

backend/seed.js

# Logs
logs
*.log
logs/*
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp

# Build files
frontend/build
frontend/dist
